/* DrawingManager.css */
.button {
    position: absolute;
    top: 10px;
    z-index: 1000;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .deleteButton {
    right: 10px;
  }
  
  .printButton {
    right: 120px;
  }